<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
      <%= form_for @conn, "/game", fn f -> %>
      <p>Name: <%= text_input f, :name, placeholder: "My Name" %></p>
      <p><%= submit "Play" %></p>
    <% end %>
  </div>
</div>