/* This file is for your main application css. */

@import "./phoenix.css";
@import "~milligram/dist/milligram";

body {
    background-color: lightblue;
}

.game-room {
    height:300px;
    width:250px;
    box-shadow: 10px 10px 8px #888888;
    border:1px solid gray;
    padding:20px;
    text-align: center;
    background-color:#F9E4C0;
    margin-left:50px;
}

.create-room {
    background-color:#D2E6B1;
    box-shadow: 10px 10px 8px #888888;
    border: 1px solid gray;
    padding: 20px!important;
}

.piece {
    border-radius:100px;
    width:80px;
    height:80px;
    margin-left:17px;
    border:1px solid silver;
}

.hover:hover{
    cursor:pointer;
    border:3px solid white;
    width:83px;
    height:83px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.tile {
    height:100px;
    width:100%;
    padding:10px;
}

.no-piece {
    padding:0!important;
}

.board-column {
    padding:0!important;
}

.board {
    border: 1px solid black;
    padding-left:10px!important;
    padding-right:10px!important;
    box-shadow: 10px 10px 8px #888888;
    background-image: url("https://images.pexels.com/photos/129733/pexels-photo-129733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.gray {
    background-color:gray;
}

.highlight {
    z-index: 10;
    display: block;
    height: 100%;
}

.valid {
    background-color:orange;
}

.jump {
    background-color:green;
}

.highlight:hover {
    cursor:pointer;
}

.players {
    top:0;
    left:0;
    border:1px solid black;
    padding-left:40px;
    padding-right:40px;
    background-color:white;
    border-radius: 50px 50px 0 0 ;
    box-shadow: 10px 10px 8px #888888;
}

.player2 {
    float:right;
}

.playerBox h2 {
    margin-bottom: 2px;
}

.fa-crown {
    font-size:30px;
    color:gold;
    margin-top:20px;
    margin-left:20px;
}